.courses {
  .sidebarContainer {
    width: 180px;
    text-align: center;
  }
  .mainContainer {
    width: 80%;
  }
  a {
    text-decoration: none;
  }
  .flex {
    justify-content: space-between;
    h1 {
      margin-right: 10px;
    }
    p {
      color: #50e3c2
    }
  }
}
