.courses{
  #cisDD{
    margin-bottom: 20px;
    .mont15{
      color: black;
    }
    div{
      display: block;
    }
    .mont12{
      display: inline;
      color: $textBlue;
    }
    .cisBox{
      display: inline-block;
      margin-left: 20px;
      margin-top: 15px;
    }
  }
  #engDD{
    margin-bottom: 20px;
    .mont15{
      color: black;
    }
    .flex{
      justify-content: space-between;
    }
    .engBoxOne{
      width: 40%;
    }
    .engBoxTwo{
      width: 40%;
    }
    .mont12{
      display: inline;
      color: $textBlue;
    }
    .cisBox{
      display: inline-block;
      margin-left: 20px;
      margin-top: 15px;
    }
  }
}
