*{
  letter-spacing: .2;
}
.mont8{
  font-family: $mont;
  font-size: 8px;
}
.mont10{
  font-family: $mont;
  font-size: 10px;
}
.mont11{
  font-family: $mont;
  font-size: 11px;
}
.mont12{
  font-family: $mont;
  font-size: 12px;
}
.mont13{
  font-family: $mont;
  font-size: 13px;
}
.mont14{
  font-family: $mont;
  font-size: 14px;
}
.mont15{
  font-family: $mont;
  font-size: 15px;
}
.mont18{
  font-family: $mont;
  font-size: 18px;
}
.mont30{
  font-family: $mont;
  font-size: 30px;
}
.robo13{
  font-family: $robo;
  font-size: 13px;
}
