header {
  height: 40%;
  width: 100%;
  padding: 14px 0 0;
  .date {
    display: block;
    width: 100%;
    padding-bottom: 8px;
    font-weight: 700;
    text-align: right;
    color: $sideBlue;
  }
  .logoutBox {
    width: 150px;
    display: flex;
    justify-content: space-around;
  }
  .logOut {
    cursor: pointer;
    float: right;
    display: inline-block;
    color: $lBlue;
  }
  h1 {
    color: $textBlue;
    font-weight: 700;
  }
  .mont15 {
    padding-top: 5px;
  }
  h3 {
    color: $headBlack;
    font-weight: 700;
  }
  .headerDiv {
    width: 30%;
    display: inline-block;
    margin: 20px 0;
  }
}
