header {
  //temp color
  background-color: $textWhite;
  width: 100%;
  padding: 14px 5% 0;
  .date {
    display: block;
    width: 100%;
    padding-bottom: 8px;
    text-align: right;
    color: $sideBlue;
  }
  .logOut {
    float: right;
    display: inline-block;
    color: $lBlue;
  }
  .paths {
    vertical-align: top;
    display: inline-block;
    color: $sideBlue;
  }
  h1 {
    color: $lBlue;
    font-weight: 700;
  }
  .mont15 {
    padding-top: 5px;
  }
  h3 {
    color: $headBlack;
    font-weight: 700;
  }
  .headerDiv {
    width: 30%;
    display: inline-block;
    margin: 20px 0;
  }
}
