.courses{
  p{
    color: #44ccc0;
  }
  .ddSection{
    background-color: white;
    padding: 30px;
    overflow-y: scroll;
    height: 60%;
    width: 90%;;
    .mont18:first-child{
      color: #44ccc0;
      margin-bottom: 10px;
    }
    .mont18{
      margin-bottom: 20px;
    }
    .mont15{
      margin-top: -5px;
      color: #44ccc0;
    }
    .cisCarot {
      cursor: pointer;
    }
    .engCarot {
      cursor: pointer;
    }
    .progressBar{
      background: linear-gradient(90deg, #33c7ba, #33c7ba 60%, lightgrey 60%, lightgrey 40%);
      width: auto;
      height: 5px;
      margin-bottom: 10px;
      border-radius: 10%;
    }
    .menuArea{
      margin: 20px;
      p{
        display: inline;
        float: right;
        margin-top: -30px;
      }
      .divBar{
        margin-top: 20px;
        background-color: #44ccc0;
      }
    }
    .coursesButton{
      margin-top: 30px;
      color: $textWhite;
      float: right;
      cursor: pointer;
    }
  }
  .classList{
    background-color: white;
    height: 350px;
    width: 100%;
    overflow-y: hidden;
    .classListFlex{
      width: 45%;
      height: 100%;
      margin-top: 15%;
      margin-left: 20%;
    }
    .flex{
      margin-top: -65px;
    }
    .mont18{
      color: $lBlue;
      margin-left: 10%;
      margin-top: 25px;
    }
    .mont12{
      padding-bottom: 15px;
      em{
        color: black;
      }
    }
    #okayButton{
      padding: 15px 45px;
      color: $textWhite;
      float: right;
      margin-top: 150%;
      margin-right: 50px;
      font-weight: bold;
      background-color: #37beba;
      cursor: pointer;
    }
  }
  .registered{
    background-color: white;
    height: 350px;
    width: 100%;
    overflow-y: hidden;
    .mont18{
      width: 100%;
      margin-left: 33%;
      margin-top: 130px;
      margin-bottom: -80px;
      color: $lBlue;
      height: 45%;
    }
    .registeredButton{
      padding: 15px 45px;
      color: white;
      margin-left: 40%;
      font-weight: bold;
      background-color: #37beba;
      cursor: pointer;
    }
  }
}
