.logout {
  height: 100vh;
  .mainContainer {
    background-color: white;
    height: 85vh;
    width: 60%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .mont15 {
    text-align: center;
    color: $textBlue;
    font-weight: bold;
  }
}
