.login {
  height: 100vh;
  .mainContainer {
    background-color: white;
    height: 85vh;
    width: 60%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .mont15 {
    text-align: center;
    color: $textBlue;
    font-weight: bold;
  }
}
.logout {
  @extend .help1;
  display: none;
  .mont14 {
    margin-left: 0;
    display: block;
    padding-bottom: 20px;
  }
  .logoutButton {
    display: inline-block;
    background-color: #3bb9ba;
    width: 114px;
    height: 42px;
    .mont12 {
      display: block;
      text-align: center;
      line-height: 42px;
      color: white;
      height: 100%;
      width: 100%;
    }
  }
  .return {
    cursor: pointer;
    display: inline-block;
    color: #3bb9ba;
    margin-left: 20px;
  }
}