.login {
  height: 100vh;
  .mainContainer {
    background-color: white;
    height: 85vh;
    width: 60%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
  } 
  .mont15 {
    text-align: center;
    color: $textBlue;
    font-weight: bold;
  }
}
.logout {
  @extend .help1;
  display: none;
  .mont14 {
    margin-left: 0;
    display: block;
    padding-bottom: 20px;
  }
  .logoutButton {
    display: inline-block;
    background-color: #3bb9ba;
    width: 114px;
    height: 42px;
    .mont12 {
      display: block;
      text-align: center;
      line-height: 42px;
      color: white;
      height: 100%;
      width: 100%;
    }
  }
}
.return {
  cursor: pointer;
  display: inline-block;
  color: #3bb9ba;
  margin-left: 20px;
}
.logInPage{
  .mainContainer{
    background-color: #f7f7f7;
    width: 95%;
    height: auto;
    a{
      float: right;
      text-decoration: none;
    }
    .divBar{
      width: 95%;
      height: 3px;
      background-color: #6291a9;
    }
    .logInBox{
      background-color: white;
      height: 400px;
      width: 600px;
      margin-top: 100px;
      margin-bottom: 100px;
      margin-left: 25%;
      ::-webkit-input-placeholder{
        font-size: 16px;
        font-family: $mont;
        color: #3bb9ba;
      }
      input{
        display: block;
        margin-top: 20px;
        margin-left: 125px;
        width: 350px;
	      height: 48px;
        background-color: #f7f7f7;
	      border: solid 1px #3bb9ba;
        text-align: center;
      }
      .mont24{
        font-weight: bold;
        padding-top: 50px;
        margin-left: 45px;
      }
      .mont21{
        color: #3bb9ba;
        margin-top: 25px;
        margin-left: 225px;
      }
      .coursesButton{
        background-color: #3bb9ba;
        float: left;
        text-align: center;
        color: #f7f7f7;
        margin-left: 150px;
        margin-top: 30px;
      }
      .mont12{
        padding: 15px 40px;
      }
      .passLink{
        color: #3bb9ba;
        padding: 0;
        margin-top: 45px;
        float: right;
        margin-right: 175px;
      }
    }
  }
}
