.schedule {
  .sidebarContainer {
    width: 180px;
    text-align: center;
  }
  .mainContainer {
    width: 80%;
  }
  a {
    text-decoration: none;
    cursor: pointer;
    margin: 0 5px;
  }
  #scheduleList {
    p {
      margin: 0 5px;
    }
    a:hover {
      color: $lBlue;
      transition-duration: .5s;
    }
    article {
      padding-top: 30px;
      .mont12 {
        color: $headBlack;
      }
    }
  }
  .calendarContainer{
    .mont8{
      padding-bottom: 5px;
    }
    .mont10 {
      font-weight: normal;
    }
    background-color: $calendar;
    display: flex;
    text-align: center;
    border: .5px solid white;
    margin-top: 30px;
    .day{
      margin-top: 10px;
    }
    .calendarColumn{
      display: inline;
      width: 20%;
      height: 375px;
      border-right: 1px solid white;
    }
    .calendarBlock1{
      background-color: $sideBlue;
      color: $textWhite;
      width: 100%;
      height: 40px;
      margin-top: 10px;
      padding-top: 15px;
      .mont10{
        text-align: center;
        float: none;
      }
    }
    .calendarBlock2{
      background-color: $sideBlue;
      color: $textWhite;
      width: 100%;
      height: 25%;
      padding-top: 100px;
      margin-top: 75px;
      .mont10{
        text-align: center;
        float: none;
      }
    }
      .friday{
        padding-bottom: 65px;
      }
      .calendarBlock3{
        background-color: $sideBlue;
        color: $textWhite;
        width: 100%;
        height: 25%;
        padding-top: 82px;
            margin-top: 93px;
        .mont10{
          text-align: center;
          float: none;
        }
      }
  }
}
