.scrollBackground{
  height: 60%;
  overflow-y: scroll;
  //the negative margin allows the box to expand into the containers padding to make room for the slider
  margin-right: -13px;
  padding-right: 7px;
  .mont12{
    color: $textBlue;
    margin-bottom: 15px;
    font-weight: bold;
  }
  .mont15{
    margin-bottom: 15px;
  }
  .robo13{
    line-height: 21px;
    padding-bottom: 20px;
  }
//these webkits allow for changing of the slider
}
.scrollBackground::-webkit-scrollbar-track
{
	background-color: $textWhite;
}

.scrollBackground::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}

.scrollBackground::-webkit-scrollbar-thumb
{
	background-color: #38bfba;
}
.schedule{
  .scrollBackground{
    .mont10{
      float: right;
      margin-top: -25px;
      font-weight: bold;
      p{
        padding-right: 2px;
        display: inline;
      }
    }
  }
}
