.scrollBackground{
  height: 347px;
  overflow-y: scroll;
  margin-right: -15px;
  padding-right: 15px;
  .mont12{
    color: $textBlue;
    margin-bottom: 15px;
    font-weight: bold;
  }
  .mont15{
    margin-bottom: 15px;
  }
  .robo13{
    line-height: 21px;
    padding-bottom: 20px;
  }
}
.scrollBackground::-webkit-scrollbar-track
{
	background-color: $textWhite;
}

.scrollBackground::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}

.scrollBackground::-webkit-scrollbar-thumb
{
	background-color: #38bfba;
}
