.scrollBackground{
  overflow-y: scroll;
  .mont12{
    color: $textBlue;
    margin-bottom: 15px;
  }
  .mont15{
    font-weight: bold;
    margin-bottom: 15px;
  }
  .robo13{
    line-height: 21px;
    padding-bottom: 20px;
  }
}
