.sidebarContainer{
  width: 400px;
  height: 250px;
  background-color: $sideBlue;
  padding: 210px 20px;
  position: inline;
  box-shadow: 3px 3px 5px #606060;
  a:hover {
    background-color: $highlight;
    transition-duration: 1s;
  }
  #profilePic{
    margin: -150px 0 50px 25px;
    border-radius: 50%;
    border: 2px solid #50e3c2;
  }
  .mont15{
    color: $textWhite;
    margin: -40px 0 40px 25px;
    padding: 5px 0;
  }
  .mont13{
    display: block;
    color: $textWhite;
    margin-top: 30px;
    margin-bottom: 20px;
    padding: 5px 0;
  }
  .mont11{
    display: block;
    text-decoration: none;
    color: $textWhite;
    margin-bottom: 10px;
    margin-left: 20px;
    padding: 5px 0;
  }
}
