.sidebarContainer{
  width: 400px;
  height: auto;
  background-color: $sideBlue;
  padding: 210px 20px;
  position: inline;
  box-shadow: 3px 3px 5px #606060;
  a:hover {
    background-color: $highlight;
    transition-duration: 1s;
  }
  .highlighted{
    background-color: $highlight;
  }
  #profilePic{
    margin: -150px 0 50px 0px;
    border-radius: 50%;
    border: 2px solid #50e3c2;
  }
  .profileBox {
    margin-top: -40px;
    a:hover {
      background-color: initial;
    }
    .mont15{
      width: 100%;
      color: $textWhite;
      padding: 5px 0;
    }
  }
  .mont13{
    text-align: left;
    width: 100%;
    display: block;
    color: $textWhite;
    margin-top: 30px;
    margin-bottom: 20px;
    margin-left: -20px;
    padding: 5px 20px;
  }
  .mont11{
    text-align: left;
    width: 100%;
    display: block;
    text-decoration: none;
    color: $textWhite;
    margin-bottom: 10px;
    margin-left: -20px;
    padding: 5px 6px 5px 34px;
  }
}
