$mont: 'Montserrat', sans-serif;
$robo: 'Roboto Slab', serif;
$textBlue: #48a2ba;
$roboBlue: #373737;
$links: #33c7ba;
$lBlue: #59aac0;
$textWhite: #f7f7f7;
$sideBlue: #1b3c50;
$highlight: #0b2535;
$calendar: rgba(47, 207, 186, 0.15);
@mixin gradient() {
    background-color: #2fcfba;
	background: linear-gradient(45deg, #2fcfba 50%, #47a1ba);
	background: -webkit-linear-gradient(45deg, #2fcfba 50%, #47a1ba);
	background: -moz-linear-gradient(45deg, #2fcfba 50%, #47a1ba);
	background: -o-linear-gradient(45deg, #2fcfba 50%, #47a1ba);
}