html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  letter-spacing: .2; }

.mont8 {
  font-family: "Montserrat", sans-serif;
  font-size: 8px; }

.mont10 {
  font-family: "Montserrat", sans-serif;
  font-size: 10px; }

.mont11 {
  font-family: "Montserrat", sans-serif;
  font-size: 11px; }

.mont12 {
  font-family: "Montserrat", sans-serif;
  font-size: 12px; }

.mont13 {
  font-family: "Montserrat", sans-serif;
  font-size: 13px; }

.mont15 {
  font-family: "Montserrat", sans-serif;
  font-size: 15px; }

.mont30 {
  font-family: "Montserrat", sans-serif;
  font-size: 30px; }

.robo13 {
  font-family: "Roboto Slab", serif;
  font-size: 13px; }

body {
  background-color: #2fcfba;
  background: linear-gradient(-45deg, #2fcfba 50%, #47a1ba);
  background: -webkit-linear-gradient(-45deg, #2fcfba 50%, #47a1ba);
  background: -moz-linear-gradient(-45deg, #2fcfba 50%, #47a1ba);
  background: -o-linear-gradient(-45deg, #2fcfba 50%, #47a1ba);
  padding: 20px; }

.sidebarContainer {
  width: 220px;
  height: 100%;
  background-color: #1b3c50;
  padding: 210px 20px; }
  .sidebarContainer #profilePic {
    margin: -150px 0 50px 50px;
    border-radius: 50%; }
  .sidebarContainer .mont15 {
    color: #f7f7f7;
    margin: -40px 0 40px 40px; }
  .sidebarContainer .mont13 {
    color: #f7f7f7;
    margin-top: 30px;
    margin-bottom: 20px; }
  .sidebarContainer .mont11 {
    display: block;
    text-decoration: none;
    color: #f7f7f7;
    margin-bottom: 10px;
    margin-left: 20px; }

header {
  background-color: white;
  width: 60%;
  padding: 14px 5% 0; }
  header .date {
    display: block;
    width: 100%;
    padding-bottom: 8px;
    text-align: right;
    color: #1b3c50; }
  header .logOut {
    float: right;
    display: inline-block;
    color: #59aac0; }
  header .paths {
    vertical-align: top;
    display: inline-block;
    color: #1b3c50; }
  header h1 {
    color: #59aac0; }
  header h2 {
    padding-top: 5px; }
  header h3 {
    color: #2e0a3a;
    font-weight: 700; }
  header .headerDiv {
    width: 30%;
    display: inline-block;
    margin: 20px 0; }

/*# sourceMappingURL=style.css.map */
