html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  letter-spacing: .2; }

body {
  overflow-y: hidden; }

.mont8 {
  font-family: "Montserrat", sans-serif;
  font-size: 8px; }

.mont10 {
  font-family: "Montserrat", sans-serif;
  font-size: 10px; }

.mont11 {
  font-family: "Montserrat", sans-serif;
  font-size: 11px; }

.mont12, .dashboard .scrollBackground .dashLinkCon .dashLink {
  font-family: "Montserrat", sans-serif;
  font-size: 12px; }

.mont13 {
  font-family: "Montserrat", sans-serif;
  font-size: 13px; }

.mont14 {
  font-family: "Montserrat", sans-serif;
  font-size: 14px; }

.mont15 {
  font-family: "Montserrat", sans-serif;
  font-size: 15px; }

.mont18 {
  font-family: "Montserrat", sans-serif;
  font-size: 18px; }

.mont21 {
  font-family: "Montserrat", sans-serif;
  font-size: 21px; }

.mont24 {
  font-family: "Montserrat", sans-serif;
  font-size: 24px; }

.mont30 {
  font-family: "Montserrat", sans-serif;
  font-size: 30px; }

.mont40 {
  font-family: "Montserrat", sans-serif;
  font-size: 40px; }

.robo13 {
  font-family: "Roboto Slab", serif;
  font-size: 13px; }

body {
  background-color: #2fcfba;
  background: linear-gradient(-45deg, #2fcfba 50%, #47a1ba);
  background: -webkit-linear-gradient(-45deg, #2fcfba 50%, #47a1ba);
  background: -moz-linear-gradient(-45deg, #2fcfba 50%, #47a1ba);
  background: -o-linear-gradient(-45deg, #2fcfba 50%, #47a1ba);
  padding: 20px;
  height: -webkit-fill-available;
  background-size: 100%;
  background-repeat: no-repeat; }
  body .textLink {
    color: #50e3c2; }

.pathCon {
  display: flex;
  justify-content: space-between;
  margin-bottom: -10px; }
  .pathCon .pathBox {
    display: flex; }
    .pathCon .pathBox a {
      text-decoration: none; }
    .pathCon .pathBox a:visited {
      color: initial; }
    .pathCon .pathBox .mont13 {
      margin: 0 5px; }
    .pathCon .pathBox .pathsOne {
      color: #1b3c50; }
    .pathCon .pathBox .pathsTwo {
      color: #0b2535; }
    .pathCon .pathBox .pathsThree {
      color: #52a5af; }

.divBar {
  height: 2px;
  background-color: #6291a9;
  margin: 30px auto; }

.divBar2 {
  height: 2px;
  background-color: #6291a9;
  margin: 30px auto 10px; }

.flex {
  display: flex; }
  .flex .flexBox {
    width: 60%; }
  .flex .flexBox2 {
    width: 30%; }

.mainContainer {
  background-color: #f7f7f7;
  display: block;
  height: auto;
  width: 88%;
  padding: 20px;
  padding-right: 30px;
  box-shadow: 3px 3px 5px #606060; }

.sidebarContainer {
  width: 400px;
  height: auto;
  background-color: #1b3c50;
  padding: 210px 20px;
  position: inline;
  box-shadow: 3px 3px 5px #606060; }
  .sidebarContainer a:hover {
    background-color: #0b2535;
    transition-duration: 1s; }
  .sidebarContainer .highlighted {
    background-color: #0b2535; }
  .sidebarContainer #profilePic {
    margin: -150px 0 50px 0px;
    border-radius: 50%;
    border: 2px solid #50e3c2; }
  .sidebarContainer .profileBox {
    margin-top: -40px; }
    .sidebarContainer .profileBox a:hover {
      background-color: initial; }
    .sidebarContainer .profileBox .mont15 {
      width: 100%;
      color: #f7f7f7;
      padding: 5px 0; }
  .sidebarContainer .mont13 {
    text-align: left;
    width: 100%;
    display: block;
    color: #f7f7f7;
    margin-top: 30px;
    margin-bottom: 20px;
    margin-left: -20px;
    padding: 5px 20px; }
  .sidebarContainer .mont11 {
    text-align: left;
    width: 100%;
    display: block;
    text-decoration: none;
    color: #f7f7f7;
    margin-bottom: 10px;
    margin-left: -20px;
    padding: 5px 6px 5px 34px; }

header {
  height: 35%;
  width: 100%;
  padding: 14px 0 0; }
  header .date {
    display: block;
    width: 100%;
    padding-bottom: 8px;
    font-weight: 700;
    text-align: right;
    color: #1b3c50; }
  header .logoutBox {
    width: 150px;
    display: flex;
    justify-content: space-around; }
    header .logoutBox .logOut {
      cursor: pointer;
      float: right;
      display: inline-block;
      color: #59aac0; }
  header h1 {
    color: #48a2ba;
    font-weight: 700; }
  header .mont15 {
    padding-top: 5px; }
  header h3 {
    color: #2e0a3a;
    font-weight: 700; }
  header .headerDiv {
    width: 30%;
    display: inline-block;
    margin: 20px 0; }

.scrollBackground {
  height: 60%;
  overflow-y: scroll;
  margin-right: -13px;
  padding-right: 7px; }
  .scrollBackground .mont12, .dashboard .scrollBackground .dashLinkCon .dashLink {
    color: #48a2ba;
    margin-bottom: 15px;
    font-weight: bold; }
  .scrollBackground .mont15 {
    margin-bottom: 15px; }
  .scrollBackground .robo13 {
    line-height: 21px;
    padding-bottom: 20px;
    width: 85%; }

.scrollBackground::-webkit-scrollbar-track {
  background-color: #f7f7f7; }

.scrollBackground::-webkit-scrollbar {
  width: 6px;
  background-color: #F5F5F5; }

.scrollBackground::-webkit-scrollbar-thumb {
  background-color: #38bfba; }

.schedule .scrollBackground .selector {
  margin-top: -25px; }
.schedule .scrollBackground .calendar {
  color: #2fcfba; }
.schedule .scrollBackground .mont10 {
  float: right;
  font-weight: bold; }
  .schedule .scrollBackground .mont10 p {
    padding-right: 2px;
    display: inline; }

.index .sidebarContainer {
  width: 180px;
  text-align: center; }
.index .mainContainer {
  width: 80%; }
.index a {
  text-decoration: none; }

.schedule .sidebarContainer {
  width: 180px;
  text-align: center; }
.schedule .mainContainer {
  width: 80%; }
.schedule a {
  text-decoration: none;
  cursor: pointer;
  margin: 0 5px; }
.schedule #scheduleList p {
  margin: 0 5px; }
.schedule #scheduleList a:hover {
  color: #59aac0;
  transition-duration: .5s; }
.schedule #scheduleList article {
  padding-top: 30px; }
  .schedule #scheduleList article .mont12, .schedule #scheduleList article .dashboard .scrollBackground .dashLinkCon .dashLink, .dashboard .scrollBackground .dashLinkCon .schedule #scheduleList article .dashLink {
    color: #2e0a3a; }
.schedule .calendarContainer {
  background-color: rgba(47, 207, 186, 0.15);
  display: flex;
  text-align: center;
  border: .5px solid white;
  margin-top: 30px; }
  .schedule .calendarContainer .mont8 {
    padding-bottom: 5px; }
  .schedule .calendarContainer .mont10 {
    font-weight: normal; }
  .schedule .calendarContainer .day {
    margin-top: 10px; }
  .schedule .calendarContainer .calendarColumn {
    display: inline;
    width: 20%;
    height: 365px;
    border-right: 1px solid white; }
  .schedule .calendarContainer .calendarBlock1 {
    background-color: #1b3c50;
    color: #f7f7f7;
    width: 100%;
    height: 40px;
    margin-top: 10px;
    padding-top: 15px; }
    .schedule .calendarContainer .calendarBlock1 .mont10 {
      text-align: center;
      float: none; }
  .schedule .calendarContainer .calendarBlock2 {
    background-color: #1b3c50;
    color: #f7f7f7;
    width: 100%;
    height: 25%;
    padding-top: 100px;
    margin-top: 75px; }
    .schedule .calendarContainer .calendarBlock2 .mont10 {
      text-align: center;
      float: none; }
  .schedule .calendarContainer .friday {
    padding-bottom: 65px; }
  .schedule .calendarContainer .calendarBlock3 {
    background-color: #1b3c50;
    color: #f7f7f7;
    width: 100%;
    height: 25%;
    padding-top: 82px;
    margin-top: 93px; }
    .schedule .calendarContainer .calendarBlock3 .mont10 {
      text-align: center;
      float: none; }

.grades .sidebarContainer {
  width: 180px;
  text-align: center; }
.grades .mainContainer {
  width: 80%; }
.grades .purple {
  color: #2e0a3a; }
.grades .percentBox {
  margin-bottom: 50px;
  display: flex;
  justify-content: space-around;
  padding: 15px;
  background-color: white; }
  .grades .percentBox .circle::before {
    content: '';
    display: block;
    margin-left: 50%;
    height: 100%;
    border-radius: 0 100% 100% 0 / 50%;
    background-color: inherit;
    transform-origin: left;
    transform: rotate(144deg); }
  .grades .percentBox .circle {
    background: lightgrey;
    width: 152px;
    height: 152px;
    border-radius: 100px;
    background-image: linear-gradient(90deg, transparent 50%, #33c7ba 0);
    text-align: center; }
    .grades .percentBox .circle div {
      padding: 30px;
      border-radius: 100px;
      position: relative;
      display: block;
      top: -141px;
      left: 11px;
      height: 70px;
      width: 70px;
      background-color: white; }
      .grades .percentBox .circle div .mont30 {
        color: #59aac0; }
      .grades .percentBox .circle div .mont12, .grades .percentBox .circle div .dashboard .scrollBackground .dashLinkCon .dashLink, .dashboard .scrollBackground .dashLinkCon .grades .percentBox .circle div .dashLink {
        color: black;
        font-weight: 400; }
  .grades .percentBox .percentAside {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-content: space-around; }
    .grades .percentBox .percentAside .mont10 {
      color: #59aac0;
      font-weight: 700; }
    .grades .percentBox .percentAside .mont12, .grades .percentBox .percentAside .dashboard .scrollBackground .dashLinkCon .dashLink, .dashboard .scrollBackground .dashLinkCon .grades .percentBox .percentAside .dashLink {
      color: black;
      padding-top: 5px;
      font-weight: lighter; }
.grades .flexBox2 {
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end; }
.grades .gradeBox {
  background-color: white;
  padding: 11px;
  margin-bottom: 41px;
  text-align: center;
  color: #33c7ba;
  font-weight: 700; }
  .grades .gradeBox .mont10 {
    color: #48a2ba; }
.grades table {
  margin-bottom: 80px; }
  .grades table th {
    color: #48a2ba;
    font-weight: 700;
    text-align: left; }
  .grades table td {
    padding: 5px 50px 5px 0;
    color: #33c7ba !important;
    font-weight: lighter !important; }
  .grades table .tableRight {
    padding-right: 0; }
.grades a {
  text-decoration: none; }

.courses .sidebarContainer {
  width: 180px;
  text-align: center; }
.courses .mainContainer {
  width: 80%; }
.courses a {
  text-decoration: none; }
.courses .flex {
  justify-content: space-between; }
  .courses .flex h1 {
    margin-right: 10px;
    margin-bottom: 30px; }
  .courses .flex p {
    color: #50e3c2; }
.courses .coursesStart {
  background-color: white;
  padding: 50px 0;
  width: 100%;
  text-align: center; }
  .courses .coursesStart h1 {
    margin-bottom: 20px; }
  .courses .coursesStart h2 {
    margin-bottom: 50px; }
.courses .coursesBox {
  background-color: white;
  padding: 25px;
  width: 93%; }
  .courses .coursesBox .flex1 {
    display: flex;
    justify-content: space-around; }
  .courses .coursesBox .mont15 {
    margin: 20px 0; }
.courses .coursesList .flex {
  margin-bottom: 30px;
  justify-content: initial;
  width: 94%; }
.courses .coursesList .coursesChunk {
  margin-top: 2px;
  margin-left: 10px; }
.courses .coursesList .mont12, .courses .coursesList .dashboard .scrollBackground .dashLinkCon .dashLink, .dashboard .scrollBackground .dashLinkCon .courses .coursesList .dashLink {
  color: #48a2ba;
  text-align: left;
  margin-bottom: 10px; }
.courses .coursesList .mont15 {
  color: black;
  text-align: left;
  margin: 0; }
.courses .coursesButton {
  padding: 15px 45px;
  color: white;
  font-weight: bold;
  background-color: #37beba;
  cursor: pointer; }
.courses .mont14 {
  color: #33c7ba;
  font-weight: bold;
  margin-bottom: 20px; }
.courses .progressBar {
  display: flex;
  border-radius: 1px;
  height: 5px;
  width: 100%; }
  .courses .progressBar .progressOne {
    width: 50%;
    height: 100%;
    background-color: #50e3c2; }
  .courses .progressBar .progressTwo {
    width: 50%;
    height: 100%;
    background-color: #359ca1; }
.courses .courseConContainer {
  width: 100%;
  display: flex;
  justify-content: flex-end; }
.courses .courseButtonCon {
  margin-top: 30px;
  width: 250px; }
  .courses .courseButtonCon .helpButton {
    margin-left: -10px;
    cursor: pointer;
    color: #50e3c2;
    font-weight: bold;
    text-align: center; }
  .courses .courseButtonCon #nextButton {
    margin-left: 30px;
    color: #f7f7f7;
    cursor: pointer; }

.none {
  display: none; }

.courses p {
  color: #44ccc0; }
.courses .ddSection {
  background-color: white;
  padding: 30px;
  height: auto;
  width: 90%; }
  .courses .ddSection .mont18:first-child {
    color: #44ccc0;
    margin-bottom: 10px; }
  .courses .ddSection .mont18 {
    margin-bottom: 20px; }
  .courses .ddSection .mont15 {
    margin-top: -5px;
    color: #44ccc0; }
  .courses .ddSection .cisCarot {
    cursor: pointer; }
  .courses .ddSection .cisCarot:hover {
    color: #59aac0; }
  .courses .ddSection .engCarot {
    cursor: pointer; }
  .courses .ddSection .engCarot:hover {
    color: #59aac0; }
  .courses .ddSection .progressBar {
    background: linear-gradient(90deg, #33c7ba, #33c7ba 60%, lightgrey 60%, lightgrey 40%);
    width: auto;
    height: 5px;
    margin-bottom: 10px;
    border-radius: 10%; }
  .courses .ddSection .menuArea {
    margin: 20px; }
    .courses .ddSection .menuArea p {
      display: inline;
      float: right;
      margin-top: -30px; }
    .courses .ddSection .menuArea .divBar {
      margin-top: 20px;
      background-color: #44ccc0; }
  .courses .ddSection .coursesButton {
    margin-top: 50px;
    color: #f7f7f7;
    float: right;
    cursor: pointer; }
.courses .classList {
  background-color: white;
  height: 350px;
  width: 100%;
  overflow-y: hidden; }
  .courses .classList .classListFlex {
    width: 45%;
    height: 100%;
    margin-top: 15%;
    margin-left: 20%; }
  .courses .classList .flex {
    margin-top: -65px; }
  .courses .classList .mont18 {
    color: #59aac0;
    margin-left: 10%;
    margin-top: 25px; }
  .courses .classList .mont12, .courses .classList .dashboard .scrollBackground .dashLinkCon .dashLink, .dashboard .scrollBackground .dashLinkCon .courses .classList .dashLink {
    padding-bottom: 15px; }
    .courses .classList .mont12 em, .courses .classList .dashboard .scrollBackground .dashLinkCon .dashLink em, .dashboard .scrollBackground .dashLinkCon .courses .classList .dashLink em {
      color: black; }
  .courses .classList #okayButton {
    padding: 15px 45px;
    color: #f7f7f7;
    float: right;
    margin-top: 150%;
    margin-right: 50px;
    font-weight: bold;
    background-color: #37beba;
    cursor: pointer; }
.courses .registered {
  background-color: white;
  height: 350px;
  width: 100%;
  overflow-y: hidden; }
  .courses .registered .mont18 {
    width: 100%;
    margin-left: 33%;
    margin-top: 130px;
    margin-bottom: -80px;
    color: #59aac0;
    height: 45%; }
  .courses .registered .registeredButton {
    padding: 15px 45px;
    color: white;
    margin-left: 40%;
    font-weight: bold;
    background-color: #37beba;
    cursor: pointer; }

.courses #cisDD {
  margin-bottom: 20px; }
  .courses #cisDD .mont15 {
    color: black; }
  .courses #cisDD div {
    display: block; }
  .courses #cisDD .mont12, .courses #cisDD .dashboard .scrollBackground .dashLinkCon .dashLink, .dashboard .scrollBackground .dashLinkCon .courses #cisDD .dashLink {
    display: inline;
    color: #48a2ba; }
  .courses #cisDD .cisBox {
    display: inline-block;
    margin-left: 20px;
    margin-top: 15px; }
.courses #engDD {
  margin-bottom: 20px; }
  .courses #engDD .mont15 {
    color: black; }
  .courses #engDD .flex {
    justify-content: space-between; }
  .courses #engDD .engBoxOne {
    width: 40%; }
  .courses #engDD .engBoxTwo {
    width: 40%; }
  .courses #engDD .mont12, .courses #engDD .dashboard .scrollBackground .dashLinkCon .dashLink, .dashboard .scrollBackground .dashLinkCon .courses #engDD .dashLink {
    display: inline;
    color: #48a2ba; }
  .courses #engDD .cisBox {
    display: inline-block;
    margin-left: 20px;
    margin-top: 15px; }

.alert {
  top: 0;
  left: 0;
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: .6; }

.help1, .help2a, .help2c, .help2d, .help2b, .logout, .logInPage .forgot, .logInPage .forgot2, .logInPage .forgot3, .logInPage .forgot4, .settings .enterNewEmail, .settings .emailPopUp, .settings .enterAltPhone, .settings .enterPhone, .settings .enterNewHAddress, .settings .hAddressPopup, .settings .enterNewSAddress, .settings .sAddressPopup {
  display: none;
  padding: 48px;
  width: 40%;
  height: auto;
  z-index: 1;
  background-color: #f7f7f7;
  position: fixed;
  top: 32%;
  left: 30%; }
  .help1 .mont14, .help2a .mont14, .help2c .mont14, .help2d .mont14, .help2b .mont14, .logout .mont14, .logInPage .forgot .mont14, .logInPage .forgot2 .mont14, .logInPage .forgot3 .mont14, .logInPage .forgot4 .mont14, .settings .enterNewEmail .mont14, .settings .emailPopUp .mont14, .settings .enterAltPhone .mont14, .settings .enterPhone .mont14, .settings .enterNewHAddress .mont14, .settings .hAddressPopup .mont14, .settings .enterNewSAddress .mont14, .settings .sAddressPopup .mont14 {
    margin-left: 10px;
    display: inline-block;
    color: black;
    font-weight: 400; }
  .help1 h1, .help2a h1, .help2c h1, .help2d h1, .help2b h1, .logout h1, .logInPage .forgot h1, .logInPage .forgot2 h1, .logInPage .forgot3 h1, .logInPage .forgot4 h1, .settings .enterNewEmail h1, .settings .emailPopUp h1, .settings .enterAltPhone h1, .settings .enterPhone h1, .settings .enterNewHAddress h1, .settings .hAddressPopup h1, .settings .enterNewSAddress h1, .settings .sAddressPopup h1 {
    color: #33c7ba !important;
    font-weight: 700 !important;
    margin-left: 0 !important; }
  .help1 input[type=button], .help2a input[type=button], .help2c input[type=button], .help2d input[type=button], .help2b input[type=button], .logout input[type=button], .logInPage .forgot input[type=button], .logInPage .forgot2 input[type=button], .logInPage .forgot3 input[type=button], .logInPage .forgot4 input[type=button], .settings .enterNewEmail input[type=button], .settings .emailPopUp input[type=button], .settings .enterAltPhone input[type=button], .settings .enterPhone input[type=button], .settings .enterNewHAddress input[type=button], .settings .hAddressPopup input[type=button], .settings .enterNewSAddress input[type=button], .settings .sAddressPopup input[type=button] {
    border: 0;
    margin-top: 10px;
    background-color: #3bb9ba;
    width: 114px;
    height: 42px;
    color: white;
    text-align: center;
    cursor: pointer; }

.help2a {
  display: none; }
  .help2a .mont12, .help2a .dashboard .scrollBackground .dashLinkCon .dashLink, .dashboard .scrollBackground .dashLinkCon .help2a .dashLink {
    margin-left: 10px;
    display: block;
    color: #48a2ba;
    font-weight: 700;
    padding-bottom: 10px; }
  .help2a form {
    margin-left: 10px; }
    .help2a form select {
      width: 60%;
      height: 29px;
      border-radius: 0px;
      border: 1px solid #2e0a3a;
      background-color: #d8d8d8; }
  .help2a input[type=button] {
    margin-top: 20px;
    display: block;
    font-weight: 700; }

.help2c {
  top: 20%;
  display: none; }
  .help2c .mont14 {
    margin-left: 0;
    display: block; }
  .help2c form textarea {
    border: 0;
    width: 100%;
    height: 165px;
    resize: none; }
  .help2c input[type=button] {
    margin-top: 20px;
    display: block;
    font-weight: 700; }

.help2d {
  display: none; }
  .help2d .mont14 {
    margin-left: 0;
    display: block; }
  .help2d input[type=button] {
    margin-top: 20px;
    font-weight: 700; }

.help2b {
  display: none; }
  .help2b .mont14 {
    margin-left: 0;
    display: block; }
  .help2b input[type=button] {
    margin-top: 20px;
    font-weight: 700; }

.login {
  height: 100vh; }
  .login .mainContainer {
    background-color: white;
    height: 85vh;
    width: 60%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center; }
  .login .mont15 {
    text-align: center;
    color: #48a2ba;
    font-weight: bold; }

.logout {
  display: none; }
  .logout .mont14 {
    margin-left: 0;
    display: block;
    padding-bottom: 20px; }
  .logout .logoutButton {
    display: inline-block;
    background-color: #3bb9ba;
    width: 114px;
    height: 42px; }
    .logout .logoutButton .mont12, .logout .logoutButton .dashboard .scrollBackground .dashLinkCon .dashLink, .dashboard .scrollBackground .dashLinkCon .logout .logoutButton .dashLink {
      display: block;
      text-align: center;
      line-height: 42px;
      color: white;
      height: 100%;
      width: 100%; }

.return {
  cursor: pointer;
  display: inline-block;
  color: #3bb9ba;
  margin-left: 20px; }

.logInPage .mainContainer {
  background-color: #f7f7f7;
  width: 95%;
  height: auto; }
  .logInPage .mainContainer a {
    float: right;
    text-decoration: none; }
  .logInPage .mainContainer .divBar {
    width: 95%;
    height: 3px;
    background-color: #6291a9; }
  .logInPage .mainContainer .logInBox {
    background-color: white;
    height: 400px;
    width: 600px;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 25%; }
    .logInPage .mainContainer .logInBox ::-webkit-input-placeholder {
      font-size: 16px;
      font-family: "Montserrat", sans-serif;
      color: #3bb9ba; }
    .logInPage .mainContainer .logInBox input {
      display: block;
      margin-top: 20px;
      margin-left: 125px;
      width: 350px;
      height: 48px;
      background-color: #f7f7f7;
      border: solid 1px #3bb9ba;
      text-align: center; }
    .logInPage .mainContainer .logInBox .mont24 {
      font-weight: bold;
      padding-top: 50px;
      margin-left: 45px; }
    .logInPage .mainContainer .logInBox .mont21 {
      color: #3bb9ba;
      margin-top: 25px;
      margin-left: 225px; }
    .logInPage .mainContainer .logInBox .coursesButton {
      background-color: #3bb9ba;
      float: left;
      text-align: center;
      color: #f7f7f7;
      margin-left: 150px;
      margin-top: 30px; }
    .logInPage .mainContainer .logInBox .mont12, .logInPage .mainContainer .logInBox .dashboard .scrollBackground .dashLinkCon .dashLink, .dashboard .scrollBackground .dashLinkCon .logInPage .mainContainer .logInBox .dashLink {
      padding: 15px 40px; }
    .logInPage .mainContainer .logInBox .passLink {
      cursor: pointer;
      color: #3bb9ba;
      padding: 0;
      margin-top: 45px;
      float: right;
      margin-right: 175px; }
  .logInPage .mainContainer .mont16 {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: red;
    margin-top: 100px;
    margin-left: 175px;
    display: none; }
.logInPage .forgot {
  border-top: 10px solid;
  display: none; }
  .logInPage .forgot .mont14 {
    margin-left: 0;
    display: block;
    padding-bottom: 20px; }
  .logInPage .forgot input::-webkit-input-placeholder {
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    color: #3bb9ba; }
  .logInPage .forgot input {
    margin-top: -15px;
    display: block;
    width: 350px;
    height: 48px;
    background-color: #f7f7f7;
    border: solid 1px #3bb9ba; }
  .logInPage .forgot button {
    margin-top: 25px;
    display: block;
    border: 0;
    color: white;
    background-color: #3bb9ba;
    width: 114px;
    height: 42px; }
.logInPage .forgot2 {
  border-top: 10px solid;
  border-image: linear-gradient(90deg, #33c7ba, #33c7ba 33%, black 33%, black 66%);
  border-image-slice: 1;
  display: none; }
  .logInPage .forgot2 .mont14 {
    margin-left: 0;
    display: block;
    padding-bottom: 20px; }
  .logInPage .forgot2 input::-webkit-input-placeholder {
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    color: #3bb9ba; }
  .logInPage .forgot2 input {
    margin-top: -15px;
    display: block;
    width: 350px;
    height: 48px;
    background-color: #f7f7f7;
    border: solid 1px #3bb9ba; }
  .logInPage .forgot2 button {
    margin-top: 25px;
    display: block;
    border: 0;
    color: white;
    background-color: #3bb9ba;
    width: 114px;
    height: 42px; }
.logInPage .forgot3 {
  border-top: 10px solid;
  border-image: linear-gradient(90deg, #33c7ba, #33c7ba 66%, black 66%, black 33%);
  border-image-slice: 1;
  display: none; }
  .logInPage .forgot3 .mont14 {
    margin-left: 0;
    display: block;
    padding-bottom: 20px; }
  .logInPage .forgot3 input::-webkit-input-placeholder {
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    color: #3bb9ba; }
  .logInPage .forgot3 input {
    margin-top: -15px;
    display: block;
    width: 350px;
    height: 48px;
    background-color: #f7f7f7;
    border: solid 1px #3bb9ba; }
  .logInPage .forgot3 button {
    margin-top: 25px;
    display: block;
    border: 0;
    color: white;
    background-color: #3bb9ba;
    width: 114px;
    height: 42px; }
.logInPage .forgot4 {
  border-top: 10px solid;
  border-color: #33c7ba;
  display: none; }
  .logInPage .forgot4 .mont14 {
    margin-left: 0;
    display: block;
    padding-bottom: 20px; }
  .logInPage .forgot4 button {
    margin-top: 25px;
    display: inline-block;
    border: 0;
    color: white;
    background-color: #3bb9ba;
    width: 114px;
    height: 42px; }
  .logInPage .forgot4 a {
    float: none;
    display: inline-block; }

.settings #editEmail {
  cursor: pointer; }
.settings .sidebarContainer {
  width: 180px;
  text-align: center; }
.settings .mainContainer {
  width: 80%; }
.settings a {
  text-decoration: none;
  cursor: pointer; }
.settings .inline {
  display: inline;
  margin-right: 5px; }
.settings .headerContainer {
  margin-bottom: -90px; }
.settings .scrollBackground {
  width: 100%; }
  .settings .scrollBackground .mont12, .settings .dashboard .scrollBackground .dashLinkCon .dashLink, .dashboard .settings .scrollBackground .dashLinkCon .dashLink {
    font-weight: bold;
    color: #2e0a3a; }
  .settings .scrollBackground .flex {
    justify-content: space-between; }
    .settings .scrollBackground .flex .setCon {
      width: 40%; }
    .settings .scrollBackground .flex .setInfoFirst {
      width: 100%;
      margin-bottom: 70px; }
    .settings .scrollBackground .flex .setInfo {
      width: 100%;
      margin-bottom: 40px; }
  .settings .scrollBackground .setButton {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-end; }
    .settings .scrollBackground .setButton .setSaveButton {
      padding: 15px 45px;
      color: #f7f7f7;
      background-color: #37beba;
      cursor: pointer; }
.settings .enterNewEmail {
  margin-top: -75px; }
  .settings .enterNewEmail .mont14 {
    padding-top: 30px;
    margin-left: -2px; }
  .settings .enterNewEmail ::-webkit-input-placeholder {
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    color: #3bb9ba; }
  .settings .enterNewEmail input {
    display: block;
    width: 350px;
    height: 48px;
    background-color: #f7f7f7;
    border: solid 1px #3bb9ba;
    text-align: center;
    margin-top: 20px; }
  .settings .enterNewEmail .coursesButton {
    background-color: #3bb9ba;
    width: 114px;
    height: 42px;
    color: #f7f7f7;
    margin-top: 20px; }
  .settings .enterNewEmail .text1 {
    display: none;
    margin-right: 10px;
    color: red;
    float: right; }
.settings .emailPopUp .text1 {
  padding-top: 30px;
  margin-left: -2px; }
.settings .emailPopUp .coursesButton {
  background-color: #3bb9ba;
  width: 114px;
  height: 42px;
  color: #f7f7f7;
  margin-top: 20px;
  float: right; }
.settings .enterAltPhone {
  width: 400px; }
  .settings .enterAltPhone .text1 {
    color: red;
    padding-top: 15px; }
  .settings .enterAltPhone form {
    padding-top: 20px; }
  .settings .enterAltPhone ::-webkit-input-placeholder {
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    color: #3bb9ba; }
  .settings .enterAltPhone input {
    display: block;
    width: 350px;
    height: 48px;
    background-color: #f7f7f7;
    border: solid 1px #3bb9ba;
    text-align: center;
    margin-top: 20px; }
  .settings .enterAltPhone ::-webkit-input-placeholder {
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    color: #3bb9ba; }
  .settings .enterAltPhone .coursesButton {
    background-color: #3bb9ba;
    width: 114px;
    height: 42px;
    color: #f7f7f7;
    margin-top: 20px;
    float: right; }
.settings .enterPhone {
  width: 400px; }
  .settings .enterPhone .text1 {
    color: red;
    padding-top: 15px; }
  .settings .enterPhone form {
    padding-top: 20px; }
  .settings .enterPhone ::-webkit-input-placeholder {
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    color: #3bb9ba; }
  .settings .enterPhone input {
    display: block;
    width: 350px;
    height: 48px;
    background-color: #f7f7f7;
    border: solid 1px #3bb9ba;
    text-align: center;
    margin-top: 20px; }
  .settings .enterPhone ::-webkit-input-placeholder {
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    color: #3bb9ba; }
  .settings .enterPhone .coursesButton {
    background-color: #3bb9ba;
    width: 114px;
    height: 42px;
    color: #f7f7f7;
    margin-top: 20px;
    float: right; }
.settings .enterNewHAddress {
  margin-top: -75px; }
  .settings .enterNewHAddress .mont14 {
    padding-top: 30px;
    margin-left: -2px; }
  .settings .enterNewHAddress ::-webkit-input-placeholder {
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    color: #3bb9ba; }
  .settings .enterNewHAddress input {
    display: block;
    width: 350px;
    height: 48px;
    background-color: #f7f7f7;
    border: solid 1px #3bb9ba;
    text-align: center;
    margin-top: 20px; }
  .settings .enterNewHAddress ::-webkit-input-placeholder {
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    color: #3bb9ba; }
  .settings .enterNewHAddress .coursesButton {
    background-color: #3bb9ba;
    width: 114px;
    height: 42px;
    color: #f7f7f7;
    margin-top: 20px;
    float: right; }
.settings .hAddressPopup {
  text-align: center; }
  .settings .hAddressPopup .text1 {
    padding-top: 30px;
    margin-left: -2px; }
  .settings .hAddressPopup .coursesButton {
    background-color: #3bb9ba;
    width: 114px;
    height: 42px;
    color: #f7f7f7;
    margin-top: 20px;
    float: right; }
.settings .enterNewSAddress {
  margin-top: -75px; }
  .settings .enterNewSAddress .mont14 {
    padding-top: 30px;
    margin-left: -2px; }
  .settings .enterNewSAddress ::-webkit-input-placeholder {
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    color: #3bb9ba; }
  .settings .enterNewSAddress input {
    display: block;
    width: 350px;
    height: 48px;
    background-color: #f7f7f7;
    border: solid 1px #3bb9ba;
    text-align: center;
    margin-top: 20px; }
  .settings .enterNewSAddress .coursesButton {
    background-color: #3bb9ba;
    width: 114px;
    height: 42px;
    color: #f7f7f7;
    margin-top: 20px; }
.settings .sAddressPopup {
  text-align: center; }
  .settings .sAddressPopup .text1 {
    padding-top: 30px;
    margin-left: -2px; }
  .settings .sAddressPopup .coursesButton {
    background-color: #3bb9ba;
    width: 114px;
    height: 42px;
    color: #f7f7f7;
    margin-top: 20px;
    float: right; }

.dashboard .sidebarContainer {
  width: 180px;
  text-align: center; }
.dashboard .mainContainer {
  width: 80%; }
.dashboard a {
  text-decoration: none; }
.dashboard .scrollBackground .mont12, .dashboard .scrollBackground .dashLinkCon .dashLink {
  font-weight: bold;
  color: #2e0a3a; }
.dashboard .scrollBackground .mont13 {
  font-weight: bold;
  color: #48a2ba;
  margin-bottom: 20px;
  text-align: left; }
.dashboard .scrollBackground .dashProgCon {
  display: inline-block;
  width: 70%; }
  .dashboard .scrollBackground .dashProgCon .dashProg {
    display: inline-block;
    width: 40%;
    background-color: white;
    text-align: center;
    padding: 15px 5px;
    margin-bottom: 10px;
    margin-right: 10px; }
.dashboard .scrollBackground .percentBox #circle1::before {
  content: '';
  display: block;
  margin-left: 50%;
  height: 100%;
  border-radius: 0 100% 100% 0 / 50%;
  background-color: #33c7ba;
  transform-origin: left;
  transform: rotate(126deg); }
.dashboard .scrollBackground .percentBox #circle2::before {
  content: '';
  display: block;
  margin-left: 50%;
  height: 100%;
  border-radius: 0 100% 100% 0 / 50%;
  background-color: #33c7ba;
  transform-origin: left;
  transform: rotate(90deg); }
.dashboard .scrollBackground .percentBox #circle3::before {
  content: '';
  display: block;
  margin-left: 50%;
  height: 100%;
  border-radius: 0 100% 100% 0 / 50%;
  background-color: #33c7ba;
  transform-origin: left;
  transform: rotate(144deg); }
.dashboard .scrollBackground .percentBox #circle4::before {
  content: '';
  display: block;
  margin-left: 50%;
  height: 100%;
  border-radius: 0 100% 100% 0 / 50%;
  background-color: #33c7ba;
  transform-origin: left;
  transform: rotate(162deg); }
.dashboard .scrollBackground .percentBox #circle5::before {
  content: '';
  display: block;
  margin-left: 50%;
  height: 100%;
  border-radius: 0 100% 100% 0 / 50%;
  background-color: inherit;
  transform-origin: left;
  transform: rotate(144deg); }
.dashboard .scrollBackground .percentBox #circle6::before {
  content: '';
  display: block;
  margin-left: 50%;
  height: 100%;
  border-radius: 0 100% 100% 0 / 50%;
  background-color: #33c7ba;
  transform-origin: left;
  transform: rotate(57.6deg); }
.dashboard .scrollBackground .percentBox .circle {
  background: lightgrey;
  width: 152px;
  height: 152px;
  border-radius: 100px;
  margin: 0 auto;
  background-image: linear-gradient(90deg, transparent 50%, #33c7ba 0);
  border-image-slice: 1;
  text-align: center;
  transition: transform 2s; }
  .dashboard .scrollBackground .percentBox .circle div {
    padding: 20px 30px 30px;
    border-radius: 100px;
    position: relative;
    display: block;
    top: -141px;
    left: 11px;
    height: 80px;
    width: 70px;
    background-color: white;
    text-align: center; }
    .dashboard .scrollBackground .percentBox .circle div .mont40 {
      color: #59aac0;
      margin-left: -5px; }
    .dashboard .scrollBackground .percentBox .circle div .mont12, .dashboard .scrollBackground .percentBox .circle div .dashLinkCon .dashLink, .dashboard .scrollBackground .dashLinkCon .percentBox .circle div .dashLink {
      color: black;
      font-weight: 400; }
.dashboard .scrollBackground .dashLinkCon {
  width: 100%;
  text-align: right; }
  .dashboard .scrollBackground .dashLinkCon .dashLink {
    font-weight: bold; }
.dashboard .scrollBackground .dashClassCon {
  display: block;
  width: 30%; }
  .dashboard .scrollBackground .dashClassCon .dashClass {
    margin-bottom: 30px; }
.dashboard .scrollBackground .dashDue {
  margin-bottom: 100px; }
  .dashboard .scrollBackground .dashDue h4 {
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: #59aac0; }

/*# sourceMappingURL=style.css.map */
