html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  letter-spacing: .2; }

.mont8 {
  font-family: "Montserrat", sans-serif;
  font-size: 8px; }

.mont10 {
  font-family: "Montserrat", sans-serif;
  font-size: 10px; }

.mont11 {
  font-family: "Montserrat", sans-serif;
  font-size: 11px; }

.mont12 {
  font-family: "Montserrat", sans-serif;
  font-size: 12px; }

.mont13 {
  font-family: "Montserrat", sans-serif;
  font-size: 13px; }

.mont14 {
  font-family: "Montserrat", sans-serif;
  font-size: 14px; }

.mont15 {
  font-family: "Montserrat", sans-serif;
  font-size: 15px; }

.mont18 {
  font-family: "Montserrat", sans-serif;
  font-size: 18px; }

.mont30 {
  font-family: "Montserrat", sans-serif;
  font-size: 30px; }

.robo13 {
  font-family: "Roboto Slab", serif;
  font-size: 13px; }

body {
  background-color: #2fcfba;
  background: linear-gradient(-45deg, #2fcfba 50%, #47a1ba);
  background: -webkit-linear-gradient(-45deg, #2fcfba 50%, #47a1ba);
  background: -moz-linear-gradient(-45deg, #2fcfba 50%, #47a1ba);
  background: -o-linear-gradient(-45deg, #2fcfba 50%, #47a1ba);
  padding: 20px;
  height: 100vh;
  background-size: 100%;
  background-repeat: no-repeat; }
  body .textLink {
    color: #50e3c2; }

.pathCon {
  display: flex;
  justify-content: space-between;
  margin-bottom: -10px; }
  .pathCon .pathBox {
    display: flex; }
    .pathCon .pathBox a {
      text-decoration: none; }
    .pathCon .pathBox a:visited {
      color: initial; }
    .pathCon .pathBox .mont13 {
      margin: 0 5px; }

.divBar {
  height: 2px;
  background-color: #6291a9;
  margin: 30px auto; }

.flex {
  display: flex; }
  .flex .flexBox {
    width: 60%; }
  .flex .flexBox2 {
    width: 30%; }

.mainContainer {
  background-color: #f7f7f7;
  display: block;
  height: 630px;
  padding: 20px;
  box-shadow: 3px 3px 5px #606060; }

.none {
  display: none; }

.sidebarContainer {
  width: 400px;
  height: 250px;
  background-color: #1b3c50;
  padding: 210px 20px;
  position: inline;
  box-shadow: 3px 3px 5px #606060; }
  .sidebarContainer a:hover {
    background-color: #0b2535;
    transition-duration: 1s; }
  .sidebarContainer #profilePic {
    margin: -150px 0 50px 0px;
    border-radius: 50%;
    border: 2px solid #50e3c2; }
  .sidebarContainer .mont15 {
    width: 100%;
    color: #f7f7f7;
    padding: 5px 0;
    margin-top: -40px; }
  .sidebarContainer .mont13 {
    text-align: left;
    width: 100%;
    display: block;
    color: #f7f7f7;
    margin-top: 30px;
    margin-bottom: 20px;
    margin-left: -12px;
    padding: 5px 20px; }
  .sidebarContainer .mont11 {
    text-align: center;
    width: 100%;
    display: block;
    text-decoration: none;
    color: #f7f7f7;
    margin-bottom: 10px;
    margin-left: -20px;
    padding: 5px 20px; }

header {
  height: 40%;
  width: 100%;
  padding: 14px 0 0; }
  header .date {
    display: block;
    width: 100%;
    padding-bottom: 8px;
    font-weight: 700;
    text-align: right;
    color: #1b3c50; }
  header .logOut {
    float: right;
    display: inline-block;
    color: #59aac0; }
  header .paths {
    vertical-align: top;
    display: inline-block;
    color: #1b3c50; }
  header h1 {
    color: #48a2ba;
    font-weight: 700; }
  header .mont15 {
    padding-top: 5px; }
  header h3 {
    color: #2e0a3a;
    font-weight: 700; }
  header .headerDiv {
    width: 30%;
    display: inline-block;
    margin: 20px 0; }

.scrollBackground {
  height: 60%;
  overflow-y: scroll;
  margin-right: -13px;
  padding-right: 7px; }
  .scrollBackground .mont12 {
    color: #48a2ba;
    margin-bottom: 15px;
    font-weight: bold; }
  .scrollBackground .mont15 {
    margin-bottom: 15px; }
  .scrollBackground .robo13 {
    line-height: 21px;
    padding-bottom: 20px;
    width: 85%; }

.scrollBackground::-webkit-scrollbar-track {
  background-color: #f7f7f7; }

.scrollBackground::-webkit-scrollbar {
  width: 6px;
  background-color: #F5F5F5; }

.scrollBackground::-webkit-scrollbar-thumb {
  background-color: #38bfba; }

.schedule .scrollBackground .selector {
  margin-top: -25px; }
.schedule .scrollBackground .list {
  color: #2fcfba; }
.schedule .scrollBackground .mont10 {
  float: right;
  font-weight: bold; }
  .schedule .scrollBackground .mont10 p {
    padding-right: 2px;
    display: inline; }

.index .sidebarContainer {
  width: 180px;
  text-align: center; }
.index .mainContainer {
  width: 80%; }
.index a {
  text-decoration: none; }

.schedule .sidebarContainer {
  width: 180px;
  text-align: center; }
.schedule .mainContainer {
  width: 80%; }
.schedule a {
  text-decoration: none;
  cursor: pointer; }
.schedule #scheduleList article {
  padding-top: 30px; }
  .schedule #scheduleList article .mont12 {
    color: #2e0a3a; }
.schedule .calendarContainer {
  background-color: rgba(47, 207, 186, 0.15);
  display: flex;
  text-align: center;
  border: .5px solid white;
  margin-top: 30px; }
  .schedule .calendarContainer .mont8 {
    padding-bottom: 5px; }
  .schedule .calendarContainer .day {
    margin-top: 10px; }
  .schedule .calendarContainer .calendarColumn {
    display: inline;
    width: 20%;
    height: 375px;
    border-right: 1px solid white; }
  .schedule .calendarContainer .calendarBlock1 {
    background-color: #1b3c50;
    color: #f7f7f7;
    width: 100%;
    height: 40px;
    margin-top: 10px;
    padding-top: 15px; }
    .schedule .calendarContainer .calendarBlock1 .mont10 {
      text-align: center;
      float: none; }
  .schedule .calendarContainer .calendarBlock2 {
    background-color: #1b3c50;
    color: #f7f7f7;
    width: 100%;
    height: 25%;
    padding-top: 100px;
    margin-top: 75px; }
    .schedule .calendarContainer .calendarBlock2 .mont10 {
      text-align: center;
      float: none; }
  .schedule .calendarContainer .friday {
    padding-bottom: 65px; }
  .schedule .calendarContainer .calendarBlock3 {
    background-color: #1b3c50;
    color: #f7f7f7;
    width: 100%;
    height: 25%;
    padding-top: 82px;
    margin-top: 93px; }
    .schedule .calendarContainer .calendarBlock3 .mont10 {
      text-align: center;
      float: none; }

.grades .sidebarContainer {
  width: 180px;
  text-align: center; }
.grades .mainContainer {
  width: 80%; }
.grades .purple {
  color: #2e0a3a; }
.grades .percentBox {
  margin-bottom: 50px;
  display: flex;
  justify-content: space-around;
  padding: 15px;
  background-color: white; }
  .grades .percentBox .circle {
    width: 152px;
    height: 152px;
    border-radius: 100px;
    background: linear-gradient(90deg, lightgrey, lightgrey 60%, #33c7ba 60%, #33c7ba 40%);
    border-image-slice: 1;
    text-align: center; }
    .grades .percentBox .circle div {
      padding: 30px;
      border-radius: 100px;
      position: relative;
      display: block;
      top: 11px;
      left: 11px;
      height: 70px;
      width: 70px;
      background-color: white; }
      .grades .percentBox .circle div .mont30 {
        color: #59aac0; }
      .grades .percentBox .circle div .mont12 {
        color: black;
        font-weight: 400; }
  .grades .percentBox .percentAside {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-content: space-around; }
    .grades .percentBox .percentAside .mont10 {
      color: #59aac0;
      font-weight: 700; }
    .grades .percentBox .percentAside .mont12 {
      color: black;
      padding-top: 5px;
      font-weight: 400; }
.grades .flexBox2 {
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end; }
.grades .gradeBox {
  background-color: white;
  padding: 11px;
  margin-bottom: 41px;
  text-align: center;
  color: #33c7ba;
  font-weight: 700; }
  .grades .gradeBox .mont10 {
    color: #48a2ba; }
.grades table {
  margin-bottom: 80px; }
  .grades table th {
    color: #48a2ba;
    font-weight: 700;
    text-align: left; }
  .grades table td {
    padding: 5px 50px 5px 0;
    color: #33c7ba !important;
    font-weight: 400 !important; }
  .grades table .tableRight {
    padding-right: 0; }
.grades a {
  text-decoration: none; }

.courses .sidebarContainer {
  width: 180px;
  text-align: center; }
.courses .mainContainer {
  width: 80%; }
.courses a {
  text-decoration: none; }
.courses .flex {
  justify-content: space-between; }
  .courses .flex h1 {
    margin-right: 10px;
    margin-bottom: 30px; }
  .courses .flex p {
    color: #50e3c2; }
.courses .coursesStart {
  background-color: white;
  padding: 50px 0;
  margin-top: 50px;
  width: 100%;
  text-align: center; }
  .courses .coursesStart h1 {
    margin-bottom: 20px; }
  .courses .coursesStart h2 {
    margin-bottom: 50px; }
.courses .coursesBox {
  background-color: white;
  padding: 25px;
  width: 95%; }
  .courses .coursesBox .flex1 {
    display: flex;
    justify-content: space-around; }
  .courses .coursesBox .mont15 {
    margin: 20px 0; }
.courses .coursesList .flex {
  margin-bottom: 30px;
  justify-content: initial; }
.courses .coursesList .coursesChunk {
  margin-top: 2px;
  margin-left: 10px; }
.courses .coursesList .mont12 {
  color: #48a2ba;
  text-align: left;
  margin-bottom: 10px; }
.courses .coursesList .mont15 {
  color: black;
  text-align: left;
  margin: 0; }
.courses .coursesButton {
  padding: 15px 45px;
  color: white;
  font-weight: bold;
  background-color: #37beba;
  cursor: pointer; }
.courses .mont14 {
  color: #33c7ba;
  font-weight: bold;
  margin-bottom: 20px; }
.courses .progressBar {
  display: flex;
  border-radius: 1px;
  height: 5px;
  width: 100%; }
  .courses .progressBar .progressOne {
    width: 50%;
    height: 100%;
    background-color: #50e3c2; }
  .courses .progressBar .progressTwo {
    width: 50%;
    height: 100%;
    background-color: #359ca1; }
.courses .courseConContainer {
  width: 100%;
  display: flex;
  justify-content: flex-end; }
.courses .courseButtonCon {
  margin-top: 30px;
  width: 250px; }
  .courses .courseButtonCon .helpButton {
    cursor: pointer;
    color: #50e3c2;
    font-weight: bold;
    text-align: center; }
  .courses .courseButtonCon #nextButton {
    margin-left: 30px;
    color: #f7f7f7; }

.courses .ddSection {
  overflow-y: scroll;
  height: 60%;
  width: 100%; }
  .courses .ddSection .mont18:first-child {
    color: #44ccc0;
    margin-bottom: 10px; }
  .courses .ddSection .mont18 {
    margin-bottom: 20px; }
  .courses .ddSection .mont15 {
    margin-top: -5px;
    color: #44ccc0; }
  .courses .ddSection .progressBar {
    background: linear-gradient(90deg, #33c7ba, #33c7ba 60%, lightgrey 60%, lightgrey 40%);
    width: auto;
    height: 5px;
    margin-bottom: 10px;
    border-radius: 10%; }
  .courses .ddSection .menuArea {
    margin: 20px; }
    .courses .ddSection .menuArea p {
      display: inline;
      float: right;
      margin-top: -30px; }
    .courses .ddSection .menuArea .divBar {
      margin-top: 20px;
      background-color: #44ccc0; }

.courses #cisDD {
  margin-bottom: 20px; }
  .courses #cisDD .mont15 {
    color: black; }
  .courses #cisDD div {
    display: block; }
  .courses #cisDD .mont12 {
    display: inline;
    color: #48a2ba; }
  .courses #cisDD .cisBox {
    display: inline-block;
    margin-left: 20px;
    margin-top: 15px; }
.courses #engDD {
  margin-bottom: 20px; }
  .courses #engDD .mont15 {
    color: black; }
  .courses #engDD .flex {
    justify-content: space-between; }
  .courses #engDD .engBoxOne {
    width: 40%; }
  .courses #engDD .engBoxTwo {
    width: 40%; }
  .courses #engDD .mont12 {
    display: inline;
    color: #48a2ba; }
  .courses #engDD .cisBox {
    display: inline-block;
    margin-left: 20px;
    margin-top: 15px; }

.alert {
  top: 0;
  left: 0;
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: .6; }

.help1, .help2a, .help2c, .help2d, .help2b {
  display: none;
  padding: 48px;
  width: 40%;
  height: auto;
  z-index: 1;
  background-color: #f7f7f7;
  position: fixed;
  top: 32%;
  left: 30%; }
  .help1 .mont14, .help2a .mont14, .help2c .mont14, .help2d .mont14, .help2b .mont14 {
    margin-left: 10px;
    display: inline-block;
    color: black;
    font-weight: 400; }
  .help1 h1, .help2a h1, .help2c h1, .help2d h1, .help2b h1 {
    color: #33c7ba !important;
    font-weight: 700 !important;
    margin-left: 0 !important; }
  .help1 input[type=button], .help2a input[type=button], .help2c input[type=button], .help2d input[type=button], .help2b input[type=button] {
    border: 0;
    margin-top: 10px;
    background-color: #3bb9ba;
    width: 114px;
    height: 42px;
    color: white;
    text-align: center; }

.help2a {
  display: none; }
  .help2a .mont12 {
    margin-left: 10px;
    display: block;
    color: #48a2ba;
    font-weight: 700;
    padding-bottom: 10px; }
  .help2a form {
    margin-left: 10px; }
    .help2a form select {
      width: 60%;
      height: 29px;
      border-radius: 0px;
      border: 1px solid #2e0a3a;
      background-color: #d8d8d8; }
  .help2a input[type=button] {
    margin-top: 20px;
    display: block;
    font-weight: 700; }

.help2c {
  top: 20%;
  display: none; }
  .help2c .mont14 {
    margin-left: 0;
    display: block; }
  .help2c form input[type=text] {
    border: 0;
    width: 100%;
    height: 165px; }
  .help2c input[type=button] {
    margin-top: 20px;
    display: block;
    font-weight: 700; }

.help2d {
  display: none; }
  .help2d .mont14 {
    margin-left: 0;
    display: block; }
  .help2d input[type=button] {
    margin-top: 20px;
    font-weight: 700; }

.help2b {
  display: none; }
  .help2b .mont14 {
    margin-left: 0;
    display: block; }
  .help2b input[type=button] {
    margin-top: 20px;
    font-weight: 700; }

.logout {
  height: 100vh; }
  .logout .mainContainer {
    background-color: white;
    height: 85vh;
    width: 60%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center; }
  .logout .mont15 {
    text-align: center;
    color: #48a2ba;
    font-weight: bold; }

/*# sourceMappingURL=style.css.map */
